<main>
  <div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-red-50 dark:bg-red-50 dark:text-gray-900"
      >
        <tr>
          <th class="py-3 px-6">Name</th>
          <th class="py-3 px-6">Email</th>
          <th class="py-3 px-6"></th>
          <th class="py-3 px-6"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of listNormalUsers"
          class="bg-white border-b dark:bg-stone-50 dark:border-gray-700"
        >
          <td class="py-3 px-6">{{ user.UserName }}</td>
          <td class="py-3 px-6">{{ user.UserEmail }}</td>
          <td class="py-3 px-6">
            <button
              [routerLink]="['/add-report']"
              (click)="getUserId(user.uid)"
              class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              Add Report
            </button>
          </td>
          <td class="py-3 px-6">
            <button
              [routerLink]="['/view-report']"
              (click)="getUserId(user.uid)"
              class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
            >
              View Report
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <a
    class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
    [routerLink]="'/add-normal-user'"
    >Add User</a
  > -->
</main>
