<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex min-h-0 flex-1 flex-col">
    <div class="flex h-16 flex-shrink-0 items-center bg-gray-900 px-4">
      <div class="flex flex-shrink-0 border-t border-indigo-800 p-4">
        <a href="/admin-dashboard" class="group block w-full flex-shrink-0">
          <div class="flex items-center" *ngIf="authService.userData as user">
            <div class="ml-3">
              <p class="text-sm font-medium text-white">
                {{ user.email | uppercase }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="flex flex-1 flex-col overflow-y-auto bg-gray-800">
      <nav class="flex-1 px-2 py-4">
        <div class="mt-10">
          <p class="px-3 text-sm font-medium text-gray-400">Hello!</p>
          <div class="mt-2 space-y-1">
            <a
              href="#"
              class="group flex items-center rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            >
              <span class="truncate">List Users</span>
            </a>

            <a
              href="#"
              class="group flex items-center rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
            >
              <span class="truncate">Add User</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
